.dashboard,
.dashboard * {
  box-sizing: border-box;
}
.dashboard {
  background: #eeeeee;
  width: 1600px;
  height: 900px;
  position: relative;
  overflow: hidden;
}
.rectangle-4 {
  background: #3a3a3a;
  border-radius: 30px;
  width: 153px;
  height: 717px;
  position: absolute;
  left: 36px;
  top: 137px;
}
.minggu-24-september-2023 {
  color: #000000;
  text-align: left;
  font: 400 34px "Istok Web", sans-serif;
  position: absolute;
  left: 266px;
  top: 48px;
}
._16-54-23 {
  color: #000000;
  text-align: left;
  font: 400 34px "Jost", sans-serif;
  position: absolute;
  left: 700px;
  top: 45px;
}
.toko-indah-kayla {
  color: #000000;
  text-align: left;
  font: 400 15px "Istok Web", sans-serif;
  position: absolute;
  left: 39px;
  top: 97px;
  width: 148px;
  height: 24px;
}
.ikon-toko-2 {
  width: 44px;
  height: 60px;
  position: absolute;
  left: 85px;
  top: 36px;
}
.menu {
  position: absolute;
  inset: 0;
}
.dashboard2 {
  width: 115px;
  height: 26px;
  position: static;
}
.dashboard3 {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 85px;
  top: 217px;
}
.icon-dashboard {
  position: absolute;
  left: 56px;
  top: 220px;
  overflow: visible;
}
.group-2 {
  width: 95px;
  height: 26px;
  position: static;
}
.kategori {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 85px;
  top: 319px;
}
.icon-menu {
  width: 15.86px;
  height: 17px;
  position: static;
}
.group {
  position: absolute;
  left: 58px;
  top: 323px;
  overflow: visible;
}
.icon-dashboard2 {
  width: 86px;
  height: 26px;
  position: static;
}
.group-3 {
  width: 86px;
  height: 26px;
  position: static;
}
.produk {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 87px;
  top: 372px;
}
.icon-cart {
  position: absolute;
  left: 58px;
  top: 376px;
  overflow: visible;
}
.group-5 {
  width: 94px;
  height: 26px;
  position: static;
}
.laporan {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 87px;
  top: 423px;
}
.icon-account-login {
  position: absolute;
  left: 58px;
  top: 428px;
  overflow: visible;
}
.group-6 {
  width: 68px;
  height: 26px;
  position: static;
}
.kasir {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 85px;
  top: 268px;
}
.icon-monitor {
  position: absolute;
  left: 57px;
  top: 272px;
  overflow: visible;
}
.profile {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1506px;
  top: 49px;
}
.icon-arrow-down-1 {
  position: absolute;
  left: 1556.16px;
  top: 65.48px;
  overflow: visible;
}
.alarm-restock {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 183px;
  height: 178px;
  position: absolute;
  left: 433px;
  top: 167px;
}
._10-produk {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 468px;
  top: 278px;
}
._10-produk-span {
  color: #000000;
  font: 400 36px "Jost", sans-serif;
}
._10-produk-span2 {
  color: #000000;
  font: 400 30px "Jost", sans-serif;
}
._10-produk-span3 {
  color: #000000;
  font: 400 25px "Jost", sans-serif;
}
.alarm-restock2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Istok Web", sans-serif;
  position: absolute;
  left: 458px;
  top: 187px;
}
.icon-alarm {
  width: 56px;
  height: 56px;
  position: static;
}
.group2 {
  position: absolute;
  left: 495px;
  top: 219px;
  overflow: visible;
}
.input-penjualanan {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 183px;
  height: 178px;
  position: absolute;
  left: 230px;
  top: 167px;
}
.rectangle-62 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 106px;
  height: 30px;
  position: absolute;
  left: 269px;
  top: 298px;
}
.input-penjualanan2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Istok Web", sans-serif;
  position: absolute;
  left: 245px;
  top: 187px;
}
.klik-disini {
  color: #000000;
  text-align: left;
  font: 400 15px "Istok Web", sans-serif;
  position: absolute;
  left: 295px;
  top: 303px;
}
.icon-monitor2 {
  position: absolute;
  left: 294px;
  top: 226px;
  overflow: visible;
}
.jumlah-pembeli {
  position: absolute;
  inset: 0;
}
.rectangle-9 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 280px;
  height: 178px;
  position: absolute;
  left: 230px;
  top: 394px;
}
._10-pelanggan {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 310px;
  top: 486px;
  width: 172px;
  height: 56px;
}
._10-pelanggan-span {
  color: #000000;
  font: 400 20px "Jost", sans-serif;
}
._10-pelanggan-span2 {
  color: #000000;
  font: 400 20px "Jost", sans-serif;
}
.jumlah-pembeli-hari-ini {
  color: #000000;
  text-align: center;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 245px;
  top: 445px;
  width: 237px;
}
.pembeli-hutang {
  position: absolute;
  inset: 0;
}
.rectangle-10 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 280px;
  height: 178px;
  position: absolute;
  left: 230px;
  top: 598px;
}
._3-pelanggan {
  color: #000000;
  text-align: left;
  font: 400 20px "Jost", sans-serif;
  position: absolute;
  left: 310px;
  top: 700px;
  width: 160px;
  height: 60px;
}
.jumlah-pembeli-hutang-hari-ini {
  color: #000000;
  text-align: center;
  font: 400 18px "Istok Web", sans-serif;
  position: absolute;
  left: 233px;
  top: 645px;
  width: 273px;
}
.penjualan-hari-ini {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 183px;
  height: 178px;
  position: absolute;
  left: 636px;
  top: 167px;
}
._10-produk2 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 671px;
  top: 281px;
}
._10-produk-2-span {
  color: #000000;
  font: 400 36px "Jost", sans-serif;
}
._10-produk-2-span2 {
  color: #000000;
  font: 400 30px "Jost", sans-serif;
}
._10-produk-2-span3 {
  color: #000000;
  font: 400 25px "Jost", sans-serif;
}
.penjualan-hari-ini2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Istok Web", sans-serif;
  position: absolute;
  left: 654px;
  top: 187px;
}
.icon-shopping-bag {
  position: absolute;
  left: 700px;
  top: 224px;
  overflow: visible;
}
.penjualan-bulan-ini {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 183px;
  height: 178px;
  position: absolute;
  left: 839px;
  top: 167px;
}
._264-produk {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 869px;
  top: 286px;
}
._264-produk-span {
  color: #000000;
  font: 400 30px "Jost", sans-serif;
}
._264-produk-span2 {
  color: #000000;
  font: 400 25px "Jost", sans-serif;
}
.penjualan-bulan-ini2 {
  color: #000000;
  text-align: left;
  font: 400 14px "Istok Web", sans-serif;
  position: absolute;
  left: 850px;
  top: 187px;
}
.icon-shopping-bag2 {
  position: absolute;
  left: 903px;
  top: 224px;
  overflow: visible;
}
.keuntungan {
  position: absolute;
  inset: 0;
}
.rectangle-11 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 483px;
  height: 178px;
  position: absolute;
  left: 539px;
  top: 394px;
}
.keuntungan-hari-ini {
  color: #000000;
  text-align: left;
  font: 470 20px "Istok Web", sans-serif;
  position: absolute;
  left: 661px;
  top: 430px;
  width: 259px;
}
.rp-370-000-00 {
  color: #000000;
  text-align: left;
  font: 400 30px "Jost", sans-serif;
  position: absolute;
  left: 682px;
  top: 480px;
}
.pengeluaran {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 483px;
  height: 178px;
  position: absolute;
  left: 539px;
  top: 598px;
}
.pengeluaran-hari-ini {
  color: #000000;
  text-align: left;
  font: 480 20px "Istok Web", sans-serif;
  position: absolute;
  left: 661px;
  top: 645px;
  width: 260px;
}
.rp-370-000-002 {
  color: #000000;
  text-align: left;
  font: 400 30px "Jost", sans-serif;
  position: absolute;
  left: 682px;
  top: 698px;
}
.grafik {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 483px;
  height: 334px;
  position: absolute;
  left: 1063px;
  top: 495px;
}
.group-62 {
  width: 512px;
  height: 671px;
  position: static;
}
.rectangle-13 {
  background: rgba(58, 58, 58, 0.2);
  border-radius: 30px;
  width: 483px;
  height: 334px;
  position: absolute;
  left: 1063px;
  top: 137px;
}
.image-3 {
  width: 442px;
  height: 250px;
  position: absolute;
  left: 1090px;
  top: 558px;
}
.grafik-keuntungan-dan-pengeluaran-per-bulan {
  color: #000000;
  text-align: center;
  font: 100 15px/108.95% "Istok Web", sans-serif;
  position: absolute;
  left: 1100px;
  top: 519px;
  width: 410px;
}
.image-2 {
  width: 442px;
  height: 250px;
  position: absolute;
  left: 1084px;
  top: 203px;
}
.grafik-penjualan-per-bulan {
  color: #000000;
  text-align: left;
  font: 100 18px/108.95% "Istok Web", sans-serif;
  position: absolute;
  left: 1155px;
  top: 163px;
  width: 359px;
}
.contoh {
  color: #000000;
  text-align: left;
  font: 700 40px "Istok Web", sans-serif;
  position: absolute;
  left: 1210px;
  top: 290px;
  width: 359px;
}
.contoh2 {
  color: #000000;
  text-align: left;
  font: 700 40px "Istok Web", sans-serif;
  position: absolute;
  left: 1216px;
  top: 645px;
  width: 359px;
}
.line-3 {
  border-style: solid;
  border-color: #43d849;
  border-width: 7px 0 0 0;
  width: 35px;
  height: 0px;
  position: absolute;
  left: 36px;
  top: 212px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
